.header{
    height: 80px;
    padding: 20px 80px 80px;
    border-bottom: 1px solid gray;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            background: linear-gradient(135deg, #750DC5 0%, #9B2CFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: bold;
        }
    }

    &__navbar{
        display: flex;
        font-weight: 400;
        color: #454545;
        &-list{
            display: flex;
            column-gap: 32px;
        }

        &-item{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            color: #454545;

            &:hover{
                color: var(--color-primary);
                
                .header__navbar-image {
                    rect {
                        fill: var(--color-primary);
                    }
                    path {
                        stroke: var(--color-primary);
                    }
                }
            }
        }

        &-image{
            margin: 0 auto;
            padding-bottom: 8px;
            width: 30px;
            height: 30px;

        }
    }
}