:root{
    --color-white: #ffffff;
    --color-black: #272626e3;
    --color-btn: #091D9E;
    --color-card: #BCC5FF;
    --color-gradient: linear-gradient(90deg, #260DC1 50%, #59006F 100%);

    --input-height: 40px;
    --color-primary: #750DC5;
    --container-width: 1280px;
    --container-padding-x: 0 270px;
    --container-padding-y: 40px;

    --transition-duration: 0.2s;
}